 *{ background-color:azure;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(img/code6.jpg);
  
}

header {
    border-radius: 2rem;
    background-color:darkgrey;
    padding-left: 2rem;
    line-height: 2rem;
    height: 400px;
    background-image: none;
    


}
header h1{
    background-color: blueviolet;background-image: none;

}
 header img{ position: relative;
            width: 400px;
            left:67%;
            top: -340px;
            border-radius: 3rem;
            
 }

.biblio {
    background-color:darkgrey;
    height: 440px;
    padding-left: 2%;
    border-radius: 1rem;
    line-height: 2rem;
    background-image: none;
    
}
.biblio h2 {
    background-color:blueviolet;
    background-image: none;
}
 
.biblio p{
    color: darkgoldenrod;
}
footer {
    padding-left: 2%;
    border-radius: 2rem;
    height: 50%;
    background-color:blueviolet;
    background-image: none;
    line-height: 2rem;
}

footer nav *{
  background-color:darkgrey;
  background-image: none;
}
footer nav  {
  background-color:darkgrey;
  background-image: none;
}
